@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/fonts/IRANSansWeb_Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'IRANSans', sans-serif;
  direction: rtl;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}